body{
    background: linear-gradient(90deg, rgb(158, 180, 185), rgb(96, 220, 195));
    font-family: 'Times New Roman', Times, serif;
    
}

h1{
    color:black;
    font-size: 40px;
    text-decoration: underline;
    width: 25%;
    margin: 40px auto;
    
}
    

.inputContainer{
    max-width: 30%;
    height: auto;
    /* background-color: rgb(136, 151, 155); */
    margin: 0px auto;
    padding: 20px 2px 20px 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
}
.inputContainer label{
    font-size: 25px;
    font-family: cursive, serif;
}
.inputContainer input{
    border: none;
    outline: none;
    border-radius: 20px;
    height: 30px;
    width: 300px;
    /* background-color: rgb(209, 227, 233); */
    font-size: 20px;
    padding-left: 15px;
}
h2{
    width:40%;
    margin: 20px auto;
}


.inputContainer input::placeholder{
    font-size: 20px;
    margin-left: 20px;
}

.inputContainer button{
    width: 40px;
    height: 30px;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: rgb(36, 214, 72);
    font-size: 20px;
}

.inputContainer button:hover{
    background-color: rgb(226, 240, 245);
    cursor: pointer;
}

.tasksContainer{
    margin-top: 20px;
}

.parag{
    font-family: cursive, sans-serif;
    color:rgb(11, 2, 7);
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(235, 238, 241);
    width: 70%;
    border-radius: 20px;
    padding-left: 20px;
}

.tips {
    position: absolute;
    bottom: 30px;
}

.tips p{
    font-size: 20px;
    color: rgb(114, 124, 124);
}

.tips span{
    font-weight: bold;
    text-decoration: underline ;
    margin-right: 5px;
}